@layer three-d-stage, modal-scenes, pointer-events;

body {
  font-family: 'Proxima Nova', 'Helvetica', 'Arial', -system-ui, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #171a1d;
  font-size: 14px;
  color: #f2f3f3;
}

h2 {
  font-size: 21px;
  font-weight: 700;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
}

@layer canvas-display {
  .canvas-display {
    display: block;
    width: 100vw;
    height: 100vh;
  }
  .canvas-display canvas {
    position:absolute;
    transition: opacity 1.5s ease-in-out;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }
}

@layer pointer-pane {
  .pointer-pane {
    position:absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
  }
}

@layer modal-ui {
  .modal-ui {
    outline: 1px solid red;
    z-index: 100;
    transition: transform 1.5s ease-in-out;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .modal-ui>video {
    width: 400px;
  }

  .animal-carousel {
    display: flex;
    flex-direction: column;
    max-width: 38rem;
  }

  .animal-carousel>ul {
    list-style: none;
    outline: 1px solid red;
    overflow: hidden;
    display: flex;
    padding: 0;
    column-gap: 1rem;
  }

  .animal-carousel>ul>li {
    border: 1px solid #2d343d;
  }

  .animal-carousel>ul>li>img {
    box-shadow: 0 4px 3px -3px black;
  }

  .animal-carousel .player-poster {
    position: relative;
    cursor: pointer;
  }

  .animal-carousel .play-button {
    width: 28px;
    opacity: 0.7;
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
  }

  .animal-carousel>ul>li>p {
    font-size: 14px;
    padding: 0 1.5rem 0 1rem;
    line-height: 1.1em;
    font-weight: 600;
  }
}

@layer debug-info {
  .debug-info {
    position: absolute;
    pointer-events: none;
    z-index: 50;
    font-family: monospace;
    white-space: pre;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5); 
  }
}
